.full-body {
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center;     /* Vertically center */
    height: 100vh;           /* Full viewport height */
    margin: 0;
    
}

/* Centered card style */
.center-content {
    position: relative;
    width: 250px;
    height: 100px;
    background: url('static/images/card.jpg') no-repeat center ;
    background-color:rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1); /* Subtle shadow for the card */
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #333; /* Dark text color for contrast */
    text-align: center;
    padding: 20px;
    animation: fadeIn 1.5s ease-in-out, floatCard 4s ease-in-out infinite;
    opacity : 1;
}


/* Floating effect animation */
@keyframes floatCard {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0px);
    }
}

#heading {
    font-size: 1.8rem;
    margin-bottom: 20px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.styled-button {
     background: linear-gradient(45deg, rgba(34, 193, 195, 0.8), rgba(34, 145, 197, 0.8));
    color: white;
    border: none;
    padding: 12px 30px;
    border-radius: 8px;
    font-size: 1.1rem;
    transition: background-color 0.3s ease-in-out, transform 0.2s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    
}

.styled-button:hover {
    background-color: #0056b3; /* Darker blue on hover */
    transform: scale(1.5);
    opacity:1;
}