{% extends "homepage.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/afterscan.css' %}">
<div class="student-container">
    {% if student %}
        <div class="student-details">
            
            <div class="student-image">
                <img src="{{ student.profile_picture.url }}" alt="Student Image">
            </div>
            
           
            <div class="student-info">
    <p class="student-name">{{ student.name }}</p>
    <p class="student-roll">Roll No: {{ student.roll }}</p>
</div>

<form method="POST">
    {% csrf_token %}
    <label for="bill">Bill:</label>
    <input type="text" id="bill" name="bill" placeholder="Enter your bill" required>
    <br><br>
    <button type="submit">Pay</button>
</form>

            <p>
            <br>
                <a href='{% url "transactionpage" uuid.id %}'>View Transaction History</a>
            </p>
        </div>
    {% endif %}
</div>
{% endblock %}